@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, night, retro;
}
@plugin "daisyui/theme" {
  name: "retro";
  --color-primary: base;
  --color-secondary: teal;
}

[data-theme="retro"] {
  .login-btn{
    background-color: white;
    color: black;
  }
  .btn:hover {
    background-color: teal;
    border-color: teal;
    color: aliceblue;
  }
  .slider {
    background-color: white;
    border-color: teal;
    color: black;
  }
  .social:hover {
    background-color: #793205;
    border-color: #793205;
    color: aliceblue;
  }
}


@plugin "daisyui/theme" {
  name: "night";
  --color-primary: #3abdf8;
  --color-secondary: black/50;
  --color-base-300: #3abdf8;
}

[data-theme="night"] {
    .shared {
        background-color: #3abdf8;
        color: black/50;
    }
    .feature{
      background-color: aliceblue;
    }
  input {
    color: white;
  }
  h2{
    color: #3abdf8;
  }
  .about {
    color: #baa9a9;
  }
  .apart {
    color: #3abdf8;
  }
  .btn:hover {
    color: aliceblue;
  }
  .social:hover {
    color: aliceblue;
  }
  .contact {
    background-color: #3abdf8;
    color: white;
  }
  .highlight {
    background-color: #3abdf8;
    color: black/50;
  }
  .mission p,
  ul {
    color: white;
  }
  .accordion {
    background-color: #3abdf8;
  }
  .dash-menu{
    color: black/50;
  }
  .steps{
    color: black/50;
  }
.login {
    background-color: #3abdf8;
    color: black/50;
  }
  .login p {
    color: black/50;
  }


}
